html {
  background: #e8d9fe;
}

body {
  height: 100vh;
  background: #e8d9fe;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #cbe3fe), color-stop(100%, #e8d9fe));
  background: -webkit-gradient(linear, left top, left bottom, from(#cbe3fe), to(#e8d9fe));
  background: linear-gradient(to bottom, #cbe3fe 0%, #e8d9fe 100%);
}

.fa-gradient {
  font-size: 20px;
  position: relative;
  top: 0.5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-center {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container,
.container-fluid {
  background-color: transparent;
}

.card {
  border: none;
  border-radius: 10px;
  padding: 20px;
}

.card .card-header,
.card .card-footer {
  padding: 0;
  background-color: #fff;
}

.card .card-header {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.card .card-footer {
  padding-top: 10px;
  margin-top: 20px;
}

.card .card-body {
  padding: 0;
}

.nav-pills .nav-item .nav-link.active {
  border-radius: 15px;
}

.list-group {
  border: 0;
}

.list-group-item {
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.list-group-item:hover {
  background-color: #fff;
}

